{% extends 'blog/base.html'%}	
{% block title%}{{book.title}} {% endblock%}

{% block meta_description%}{{book.meta_description}}{% endblock%}
{% block meta_keyword%}{{book.meta_keywords}}{% endblock %}

{% block content %}
		<div class="row">
			<div class="col-lg-8 main-content detail_content">
            <div class='container-fluid'>
            
            				<div class="card  mb-3">
                    <img class="card-img-top" src="{{book.books_image.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text mb-0"><small class="text-muted">Добавлено {{book.publish}}</small></p>
                <p class='card-text mb-3'><small class='text-muted'>Категория {{book.category}}</small></p>
                {{book.description|safe}}
                {{book.pk}}
                    </br>
                    <a class='mt-3 btn btn-primary' href='{% url 'books_app:download_book' book.slug%}'>Скачать книгу</a>
        {% with total_likes=book.users_like.count books_like=book.users_like.all %}
            <div class="card-body">
<div>
<span class="count" style='font-size:16px;'>
<span style='font-size:16px;' class="total text-uppercase ml-3 mt-2">{{ total_likes }}  </span>
like{{total_likes|pluralize}}
</span>
<a href="#" data-id="{{ book.id }}" data-action="{% if request.user in books_like%}un{% endif %}like"  class="like button btn btn-{% if request.user in books_like%}outline-{% endif %}success ml-2">
{% if request.user not in books_like%}
Like
{% else %}
Unlike
{% endif %}
</a>
</div>
</div>
            


            {% endwith %}
            </div>
          </div>
         {% with comments.count as total_comments %}
          <p class ='ml-3' style='font-size: 19px;'>Комментариев ({{total_comments}})</p>
          {% endwith %}
          {% for comment in comments %}
          
          <div class="card mb-3">
  
            <div class="card-body">
                <h5 class="card-title">{{comment.name}}</h5>
                <p class="card-text">{{comment.body}}</p>
                <p class="card-text"><small class="text-muted">{{comment.date}}</small></p>
    
            </div>
          </div>



          {% endfor %}


    {% if request.user.is_authenticated%}
          <form class='' action = '' method = 'post'>
              {% csrf_token %}
            <p class='ml-3' style='font-size: 19px;'>Добавить комментарий</p>
  <div class="row mb-2">
    <div class="col">
        {{form.name}}
    </div>
    <div class="col">
        {{form.email}}
    </div>
  </div>
  {{form.body}}
  <input type='submit' class='btn btn-primary mb-4' value= 'Отправить'>
  
</form>
{% else%}

          <p class ='ml-3 mt-3 mb-3' style='font-size: 19px;'>Чтобы оставить комментарий авторизуйтесь</p>
{%endif%}
            
            </div>


			</div>
			<div class="col-lg-4 mb-3 main-sidebar">
				<div class="list-group sticky-top mt-3">
					<h1 class = 'sidebar-category pl-3'>Категории</h1>
                    {% for category in categories %}

                    <a href="{{category.get_absolute_url}}" class="list-group-item list-group-item-action">{{category.title}}</a>
                    {% endfor %}

</div>
			</div>
		</div>


		
		
	</div>



    {% endblock%}	
   {% block domready %}

    $('a.like').click(function(e){
        e.preventDefault();
        $.post(
        '{% url 'books_app:like'%}',
        {id:$(this).data('id'),action:$(this).data('action')},
        function(data){
        console.log(data)
        if(data['status']=='ok'){
        var previous_action = $('a.like').data('action');
        $('a.like').data('action',previous_action =='like' ? 'unlike':'like');
        $('a.like').text(previous_action =='like' ? 'Unlike':'Like');
        var previous_likes = parseInt($('span.count .total').text());
        $('span.count .total').text(

        previous_action == 'like'?previous_likes+1:previous_likes-1);
        }
        }
        )


    })





{% endblock %}
