{% extends 'blog/base.html'%}
{% block title%}Главная {% endblock%}



{% block service %}
{% for s in services%}

<li><a href="{{s.get_absolute_url}}">{{s.title}}</a></li>


{% endfor %}
{% endblock%}



{% block content %}
<div class="row">
			<div class="col-lg-8 main-content">
				<ul>
                    {% if posts%}
                    {% for post in posts%}
                <li class='main-item mb-3'>
						<div class="card mb-3">
                         <div class="row">
                           <div class="col-md-12">
                             <div class="card-body">

                                 <a href="{{post.get_absolute_url}}" class='text-dark item-url'><h5 class="card-title mb-0">{{post.title}}</h5></a>
                                 <p class="card-text">{{post.question|truncatechars:100}}</p>
                               <div class="row">
                               	<div class="col-lg-6">
                                    
                                    <a class='btn btn-secondary' href='{{post.get_absolute_url}}' style='text-decoration: none;color:#fff;'>Посмотреть ответ</a>
                               	</div>
                               	<div class="col-lg-6">
                                    <p class="card-text"><small class="text-muted">Создано {{post.publish}}</small></p>
                               	</div>
                               </div>
                             </div>
                           </div>
                         </div>
                       </div>
					</li>

                    {%endfor%}

        {% include 'blog/pagination.html' with page=posts%}
                     {% else %}
                     <h3 class='card-title'> Вопросов еще нет</h3>
                      {% endif %}


                </ul>

			</div>


			<div class="col-lg-4  mb-3 main-sidebar">

        <a href='{% url 'questions:create_questions'%}' class='btn btn-success mb-3 w-100'>Добавить вопрос</a>

<div class='container'>
                    
                    <nav class="navbar text-center p-0 mb-3">

                    <form class="form-inline" action='{% url 'questions:all_questions'%}'>
                        <div class='row'>
 <div class='col-sm-8 col-8'>
                        
                        
                  <input class="form-control  w-100" type="search" placeholder="Поиск" aria-label="Поиск" name='search'>
                        
                        </div>  

                        <div class='col-sm-4 col-4'>
                        
                        
                        
                  <button class="btn btn-outline-success ml-2" type="submit">Поиск</button>
                        </div>
            
            
            
            
            
            </div> 
                </form>
              </nav>

                    
                    
                    </div>






								<div class="list-group sticky-top mt-3">

					<h1 class = 'sidebar-category pl-3'>Тэгги</h1>
                    {% for tag in tags %}

                    <a href="{% url 'questions:tag_questions' slug=tag.slug%}" class="list-group-item list-group-item-action">{{tag.name}}</a>
                    {% endfor %}
                </div>
			</div>
		</div>

    
        {% endblock%}
