{% extends 'blog/base.html'%}
{% block title%}Главная {% endblock%}



{% block service %}
{% for s in services%}

<li><a href="{{s.get_absolute_url}}">{{s.title}}</a></li>


{% endfor %}
{% endblock%}



{% block content %}
<div class="row">
        <form class='w-100' enctype="multipart/form-data" action ='' method='post'>
            {% csrf_token%}
            {% if message %}
            <h5 class='card-text mb-3 text-danger'>{{message}}</h5>
            {% endif %}
            {{form.title}}
            {{form.name}}
            {{form.email}}
            {{form.tags}}
            {{form.question}}
            <h6 class='card-text'>Загрузите изображения (не обязательно)</h6>{{form.question_image}}</br>

            <button type='submit' class='btn btn-success w-100 mb-5'>Задать вопрос</button> 
        
        
        </form>




		</div>

    
        {% endblock%}
